.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222;
    color: #fff;
    padding: 0 30px;
  
    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
     
      li{
        border:1px solid white;
        padding: 0.5rem 1rem;
        border-radius: 10%;
        box-shadow: 0 2px 1px 2px rgb(209, 204, 204);

        &:hover{
          color:gold;
          background: #000000ab;
        }

        a {
          color: #fff;
          text-decoration: none;
          transition: 0.3s;
          font-weight: bold;
          
          &:hover {
            color: #ffcc00;
          }
        }
      }
    }
  }
  